<!doctype html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
    <title>feedme</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/javascripts/zepto.js"></script>
    <script src="/javascripts/feedme.js"></script>

</head>
<body>
<% content %>
    <div id="footer">
    Powered by <a href="http://perldancer.org/">Dancer</a> <% dancer_version %>
    </div>
</body>
</html>
